<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="films">
        {% for film in films %}
        <div class="film">
            <h4 class="film__title">{{film.name}}</h4>
            <p>Категория: {{film.category}}</p>
            <p>Дата выпуска: {{film.release_date}}</p>
            <p>Актеры: {{film.actors}}</p>
            <p>Дата показа: {{film.show_date}}</p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'delete' id=film.id %}">Удалить</a>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>